.neiro{
color: white;
position: relative;
bottom:70px;
font-size: 50px;
left: 20px;
cursor: pointer;

}

.marcos{
    color: white;
    position: relative;
    bottom:70px;
    font-size:46px;
    left: 50px;
   


}
.neiro:hover{

    color: black;


}


 


